{% extends 'base_admin.html' %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container">
    <h2>Create New League</h2>
    <form method="POST" action="{{ url_for('main.create_league') }}" class="form-control">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <label for="name">League Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" class="form-control" id="country" name="country" required>
        </div>
        <div class="form-group">
            <label for="date_of_foundation">Date of Foundation</label>
            <input type="date" class="form-control" id="date_of_foundation" name="date_of_foundation" required>
        </div>
        <div class="form-group">
            <label for="number_of_teams">Number of Teams:</label>
            <input type="number" class="form-control" id="number_of_teams" name="number_of_teams" required>
        </div>
        <div class="form-group">
            <label for="level_on_pyramid">Level On Pyramid:</label>
            <input type="number" class="form-control" id="level_on_pyramid" name="level_on_pyramid" required>
        </div>
        <div class="form-group">
            <label for="current_champion">Current Champion:</label>
            <input type="text" class="form-control" id="current_champion" name="current_champion" required>
        </div>
        <div class="form-group">
            <label for="most_champions">Most Champions:</label>
            <input type="text" class="form-control" id="most_champions" name="most_champions" required>
        </div>
        <div class="form-group">
            <label for="most_appearances">Most Appearances:</label>
            <input type="text" class="form-control" id="most_appearances" name="most_appearances" required>
        </div>
        <div class="form-group">
            <label for="top_scorer">Top Scorer:</label>
            <input type="text" class="form-control" id="top_scorer" name="top_scorer" required>
        </div>
        <div class="form-group">
            <label for="logo">Logo Path (from /static/):</label>
            <input type="text" class="form-control" id="logo" name="logo" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
