{% extends "base_admin.html" %}

{% block content %}
<div class="content">
    <table class="beautiful-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Date of Foundation</th>
                <th>Number of Teams</th>
                <th>Level on Pyramid</th>
                <th>Current Champion</th>
                <th>Most Champions</th>
                <th>Most Appearances</th>
                <th>Top Scorer</th>
                <th>Logo</th>
                <!-- Other headers -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for league in leagues %}
            <tr>
                <td>{{ league.name }}</td>
                <td>{{ league.country }}</td>
                <td>{{ league.date_of_foundation }}</td>
                <td>{{ league.number_of_teams }}</td>
                <td>{{ league.level_on_pyramid }}</td>
                <td>{{ league.current_champion }}</td>
                <td>{{ league.most_champions }}</td>
                <td>{{ league.most_appearances }}</td>
                <td>{{ league.top_scorer }}</td>
                <td>
                    {% if league.logo %}
                        <img src="{{ url_for('static', filename=league.logo) }}" alt="League Logo" style="width: 50px; height: 50px;">
                    {% else %}
                        No Logo
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('main.update_league', league_id=league.id) }}" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ url_for('main.delete_league', league_id=league.id) }}" class="delete-btn" onclick="return confirm('Are you sure?');" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
