{% extends "base.html" %}

{% block content %}
    <div class="viewer-menu">
        <ul>
            <li><a href="#">Leagues</a>
                <ul class="dropdown">
                    <li><a href="{{ url_for('main.view_leagues') }}">View Leagues</a></li>
                </ul>
            </li>
            {% if current_user.is_authenticated %}
                <li>
                    <form action="{{ url_for('auth.logout') }}" method="post" style="float: right;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                </li>
            {% endif %}                 
        </ul>
    </div> 
    <div class="content">
        <table class="beautiful-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Date of Foundation</th>
                    <th>Number of Teams</th>
                    <th>Level on Pyramid</th>
                    <th>Current Champion</th>
                    <th>Most Champions</th>
                    <th>Most Appearances</th>
                    <th>Top Scorer</th>
                    <th>Logo</th>
                    <!-- Other headers -->
                </tr>
            </thead>
            <tbody>
                {% for league in leagues %}
                <tr>
                    <td>{{ league.name }}</td>
                    <td>{{ league.country }}</td>
                    <td>{{ league.date_of_foundation }}</td>
                    <td>{{ league.number_of_teams }}</td>
                    <td>{{ league.level_on_pyramid }}</td>
                    <td>{{ league.current_champion }}</td>
                    <td>{{ league.most_champions }}</td>
                    <td>{{ league.most_appearances }}</td>
                    <td>{{ league.top_scorer }}</td>
                    <td>
                        {% if league.logo %}
                            <img src="{{ url_for('static', filename=league.logo) }}" alt="League Logo" style="width: 50px; height: 50px;">
                        {% else %}
                            No Logo
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
